services:
  compose-dashboard:
    image: "mcr.microsoft.com/dotnet/nightly/aspire-dashboard:latest"
    environment:
      ASPIRE_DASHBOARD_FORWARDEDHEADERS_ENABLED: "true"
    ports:
      - "8080:18888"
    expose:
      - "18889"
      - "18890"
    networks:
      - "codesysprotocols_net"
    restart: "always"
  database:
    image: "mcr.microsoft.com/mssql/server:2022-latest"
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "${DATABASE_PASSWORD}"
    expose:
      - "1433"
    networks:
      - "codesysprotocols_net"
  codesysprotocols-blazor:
    image: "${CODESYSPROTOCOLS_BLAZOR_IMAGE}"
    environment:
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY: "in_memory"
      ASPNETCORE_FORWARDEDHEADERS_ENABLED: "true"
      HTTP_PORTS: "${CODESYSPROTOCOLS_BLAZOR_PORT}"
      ConnectionStrings__CodesysProtocols: "Server=database,1433;User ID=sa;Password=${DATABASE_PASSWORD};TrustServerCertificate=true;Initial Catalog=CodesysProtocols"
      CODESYSPROTOCOLS_HOST: "database"
      CODESYSPROTOCOLS_PORT: "1433"
      CODESYSPROTOCOLS_USERNAME: "sa"
      CODESYSPROTOCOLS_PASSWORD: "${DATABASE_PASSWORD}"
      CODESYSPROTOCOLS_URI: "mssql://sa:${DATABASE_PASSWORD}@database:1433/CodesysProtocols"
      CODESYSPROTOCOLS_JDBCCONNECTIONSTRING: "jdbc:sqlserver://database:1433;trustServerCertificate=true;databaseName=CodesysProtocols"
      CODESYSPROTOCOLS_DATABASENAME: "CodesysProtocols"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://compose-dashboard:18889"
      OTEL_EXPORTER_OTLP_PROTOCOL: "grpc"
      OTEL_SERVICE_NAME: "codesysprotocols-blazor"
    expose:
      - "${CODESYSPROTOCOLS_BLAZOR_PORT}"
    depends_on:
      database:
        condition: "service_started"
    networks:
      - "codesysprotocols_net"
networks:
  codesysprotocols_net:
    driver: "bridge"
